{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
      <header>
            <nav class="navbar">
                  <text class="text-logo">AKRoy</text>
                  <div class="navbar-container container">
                        <ul class="menu-items">
                              <li><a href="#home">Home</a></li>
                              <li><a href="#about">About</a></li>
                              <li><a href="#food">Category</a></li>
                              <li><a href="#food-menu">Menu</a></li>
                              <li><a href="#testimonials">Testimonial</a></li>
                              <li><a href="#contact">Contact</a></li>
                        </ul>

                  </div>
            </nav>
      </header>
      <p class="line-1 anim-typewriter">Rule: If it works don't touch it</p>
      <main class="my-items">
            <div>
                  <h2>Click to explore</h2>
                  <button class="form-btn">
                        <span class="text">Form</span>
                  </button>
            </div>
      </main>
</body>

</html>